<template>
   <div id="app">
      <siteMast></siteMast>
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-12">
               <router-view></router-view>
            </div>
         </div>
         <siteFooter></siteFooter>
      </div>
   </div>
</template>

<script>
import siteMast from './components/Header'
import siteFooter from './components/Footer'

export default {
   name: 'app',
   components: { siteFooter, siteMast },
}

</script>

<style lang="scss">
   @import '../scss/app';
</style>