<template>
	<div class="careers">
		<h1>List of Posts from Craft API</h1>
	</div>
</template>

<script>
export default {
  name: 'careers',
  data () {
    return {
    }
  }
}
</script>

<style lang="css" scoped>
</style>