<template>
   <div class="Home">
      <h1>Home</h1>
      <joblist></joblist>
   </div>
</template>

<script>
  import joblist from "../components/JobList";
  export default {
    name: "home",
    components: { joblist }
  };
</script>

<style>

</style>