<!DOCTYPE html>
<html lang="en-us">
   <head>
      <meta charset="UTF-8">
      <title>VueCraft</title>

      {% if craft.config.devMode %}
         <link rel="stylesheet" href="http://localhost:8080/css/app.css">
      {% else %}
         <link rel="stylesheet" href="/build/css/app.css">
      {% endif %}
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
   </head>
   <body>
      {% block content %}{% endblock %}
      <script type="text/javascript">
         window.csrfTokenName = "{{ craft.config.csrfTokenName|e('js') }}"; 
         window.csrfTokenValue = "{{ craft.request.csrfToken|e('js') }}";
      </script>
      {% if craft.config.devMode %}
         <script src="http://localhost:8080/js/main.js"></script>
      {% else %}
         <script src="/build/js/main.js"></script>
      {% endif %}
   </body>
</html>